# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vscode/launch.json
.gitignore
.vscode/tasks.json
project_skeleton/benchmark_ex1
project_skeleton/benchmark_ex2
project_skeleton/benchmark_ex4
project_skeleton/benchmark_ex5

build/